@import "/node_modules/bootstrap/scss/bootstrap.scss";

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F2F2;
}

#signin-button {
    background-color: #232F3E;
    color: #FFFFFF;
}

footer {
    background-color: #232F3E;
    color: #FFFFFF;
}
